.titleBox {
    padding: .5em .75em;
    background: -webkit-linear-gradient(top, #4de0c8 0%, #3498db 100%);
    background: linear-gradient(to bottom, #4de0c8 0%, #3498db 100%);
    color: #fff;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 30%);
}
